html {
    box-sizing: border-box;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

* {
    font-family: "Trebuchet MS", sans-serif;
    color: #000000;
    
    padding: 0;
    margin: 0;
}

.index {
    background-color: #f0ffff;
}

.recipe {
    background-color: lightgoldenrodyellow;
}

h1 {
    font-family: "Lucida Handwriting", cursive;
}

/* homepage footer */
/* .footer-homepage{
    position: fixed;
} */

.footer{
    /* z-index: 9; */
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    padding: 8px;
    font-size: 12px;
    display: block;
}

/* Homepage */
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* height: 100%; */
    /* gap: 20px; */
}

.title-box,
.content-box {
    margin: 0 50px;
}

.title-box {
    margin-top: 50px;
    margin-bottom: 20px;
}

/* Homepage title */
.main-title {
    background-color: blue;
    color: white;
    font-size: 50px;
    font-weight: 700;
    padding: 20px
}

/* Homepage Content */
.content-box {
    padding: 30px;
    border: 2px solid black;
    min-height: 100vh;
    margin-bottom: 40px;
}

/* Homepage Links */
ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

li {
    padding: 5px;
    margin: 2px;
    border: 2px solid gray;
}

/* Recipe page */
.recipe-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

/* Recipe title */
.recipe-title {
    background-color: gold;
    padding: 10px 30px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    background-color: gold;
}

.home-button {
    background-color: #000000;
    color: white;
    font-weight: 700;
    outline: medium none;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 8px;
}

.home-link {
    color: #808080;
    font-weight: bold;
    font-size: medium;
    font-family: "Papyrus", fantasy;
}

/* Recipe Content */
.recipe-content {
    display: flex;
    flex-wrap: nowrap;
    padding: 30px 20px 30px 30px;
    width: 100%;
    z-index: 10;
}

/* Recipe text */
.recipe-text {
    width: 70%;
}

/* Section name */
h5 {
    font-size: 26px;
    margin: 10px 0px;    
}

.description-text {
    margin-bottom: 20px;
}

.ul-text {
    margin-bottom: 20px;
    list-style-type: disc;
    gap: 0px;
    padding: 0 20px;
}

.ul-text>li {
    padding: 2px;
    border: none;
}

.ol-text {
    margin-bottom: 20px;
    gap: 0px;
    padding: 0 20px;
}

ol>li {
    padding: 2px;
    border: none;
}

/* Recipe image */
.img-box {
    width: 30%;
    padding: 10px;
}

img {
    width: 100%;
    height: auto;
}