html {
    box-sizing: border-box;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

* {
    font-family: "Trebuchet MS", sans-serif;
    color: #000000;
    background-color: #f0ffff;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: "Lucida Handwriting", cursive;
}

/* Homepage */
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* gap: 20px; */
}

.title-box,
.content-box {
    margin: 0 50px;
}

.title-box {
    margin-top: 50px;
    margin-bottom: 20px;
}

/* Homepage title */
.main-title {
    background-color: blue;
    color: white;
    font-size: 50px;
    font-weight: 700;
    padding: 20px
}

/* Homepage Content */
.content-box {
    padding: 30px;
    border: 2px solid black;
    min-height: calc(100vh - 88px - 150px - 4px - 12px);
}

/* Homepage Links */
ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

li {
    padding: 5px;
    margin: 2px;
    border: 2px solid gray;
}

/* Recipe page */
.recipe-title {
    background-color: gold;
}

.home-link {
    color: #808080;
    font-weight: bold;
    font-size: medium;
    font-family: "Papyrus", fantasy;
}

/* footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    padding: 8px;
    font-size: 12px;
}