html {
    box-sizing: border-box;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

* {
    font-family: "Trebuchet MS", sans-serif;
    color: #000000;
    background-color: #f0ffff;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: "Lucida Handwriting", cursive;
    font-size: 36px;
    font-weight: 700;    
}

.title-box,
.main-title {
    background-color: blue;
    color: white;
    margin: 20px;
    font-size: 50px;
}


.content-box {
    padding: 30px;
    border: 2px solid black;
    /* border-top: 5px dotted gray; */
    height: 300px;
    margin: 20px;
}

.recipe-title {
    background-color: gold;
}

/* Links */
ul {
    /* display: inline; */
    list-style: none;
    display: block;
}

li {
    padding: 1px;
    margin: 2px;
    border: 2px solid gray;
}

.link {
    color: #808080;
    font-weight: bold;
    font-size: medium;
    font-family: "Papyrus", fantasy;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkgray;
    color: black;
    text-align: center;
    padding: 8px;
    font-size: 12px;
    margin-top: 20px;
}